.error404 {
  width: 450px;
  height: auto;
}

.text {
  text-align: center;
  color: red;
}

.wrapper {
  align-items: center;
  display: flex;
  height: calc(100vh - var(--header_height));
  justify-content: center;


  @media (max-width: 565px) {
    .error404 {
      width: 100%;
      height: auto;
    }
  }
}
