@import "src/scss/variables";
@import "src/scss/libs/normalize";

.burger-block {
  width: 270px;
  text-align: center;
  margin-bottom: 65px;

  &__image {
    width: 260px;
    border: orange solid 3px;

    @media (max-width: 420px) {
      width: 200px;
    }
    @media (max-width: 370px) {
      width: 170px;
    }
  }

  &__description {
    display: flex;
    width: 30%;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background-color: #f9f4fb;
    border-radius: 10px;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();

        &.active {
          background: #ffffff;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}

//.burger-page {
//  display: flex;
//  flex-direction: row;
//  align-items: flex-start;
//  gap: 20px;
//
//  @media (max-width: 1100px) {
//    flex-direction: column;
//    align-items: center;
//  }
//
//  &__image {
//    max-width: 300px;
//    border: orange solid 3px;
//
//    @media (max-width: 370px) {
//      max-width: 270px;
//    }
//  }
//
//  &__title,
//  &__description {
//    font-size: 22px;
//    letter-spacing: 0.1em;
//    display: flex;
//    max-width: 500px;
//  }
//
//  &__title {
//    align-self: flex-start;
//  }
//
//  &__description {
//  }
//
//  &__bottom {
//    width: 100%;
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    gap: 10px;
//
//    @media (max-width: 768px) {
//      order: 3;
//    }
//
//    h2,
//    h4 {
//      text-align: center;
//    }
//  }
//}


.burger-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  max-width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  &__imageblock {
    max-width: 350px;

    @media (max-width: 370px) {
      max-width: 270px;
    }
  }

  &__image {
    width: 100%;
    border: orange solid 3px;
    flex: 0 0 auto;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: calc(100% - 400px);
    margin-bottom: 20px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__title,
  &__description {
    font-size: 22px;
    letter-spacing: 0.1em;
    max-width: 500px;
  }

  &__title {
    align-self: flex-start;
    margin-bottom: 0;
  }

  &__description {
    align-self: flex-start;
  }

  &__bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2,
    h4 {
      text-align: left;

      @media (max-width: 768px) {
        text-align: center;
      }
    }
  }
}


.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
